* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: purple;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem;
    background: radial-gradient(white 5%, pink 100%);
}
main > * {
    margin-top: 1rem;
}
#rose {
    max-width: 200px;
}
#chest {
    /* max-width: 90vw; */
    max-height: 30vh;
}
p {
    max-width: 72ch;
    text-align: center;
    font-size: 1.7rem;
    margin-top: 1rem;
}
.code-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#code-input, #send-btn {
    width: 12rem;
    height: 3rem;
    margin: 1rem;
    border: 2px solid purple;
    border-radius: .3rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
#send-btn {
    background-color: hotpink;
    color: aliceblue;
    border-color: hotpink;
    transition: all 0.25s;
}

@media (hover:hover){
    #send-btn:hover {
        background-color: rgb(252, 167, 209);
        color: rgb(149, 38, 149);
        border-color: rgb(149, 38, 149);
        box-shadow: 0 0 1rem hotpink;
    }
}
#send-btn:active {
    background-color: pink;
    color: purple;
    border-color: purple;
    box-shadow: 0 0 1rem hotpink;
    font-size: 1.45rem;
}